<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" thread-count="5" parallel="tests">
    <listeners>
        <listener class-name="utilities.TestListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="edge testing">
        <parameter name="os" value="windows"/>
        <parameter name="browser" value="firefox"/>
        <classes>
            <!--            <class name="testCases.TC001_AccountRegistrationTest"/>-->
            <class name="testCases.TC002_LoginTest"/>
            <!--            <class name="testCases.TC003_LoginTestDDT"/>-->
        </classes>
    </test>
</suite>